<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_sports_soccer_24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service android:name="Music.MyMusicService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9WaOc9fknZ8cmwiXiHLWxM_VJBiH2HRk" />

        <activity
            android:name="Home.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="Firebase.Register"
            android:exported="false" />
        <activity
            android:name="Firebase.Login"
            android:exported="false" />
        <activity
            android:name="Live.LiveSelected"
            android:exported="false" />
        <activity
            android:name="Team.SelectedTeam"
            android:exported="false" />
        <activity
            android:name="Team.NewGame"
            android:exported="false" />
        <activity
            android:name="Notif.Notification"
            android:exported="false" />
        <activity
            android:name="Compo.CompoChoice"
            android:exported="false" />
        <activity
            android:name="Compo.Compo433"
            android:exported="false" />
        <activity
            android:name="Compo.Compo442"
            android:exported="false" />
        <activity
            android:name="Ranking.RankClaudiu"
            android:exported="false" />
        <activity
            android:name="Ranking.FormIosif"
            android:exported="false" />
        <activity
            android:name="Ranking.FormSimon"
            android:exported="false" />
        <activity
            android:name="Ranking.FormDavid"
            android:exported="false" />
        <activity
            android:name="Ranking.FormLucian"
            android:exported="false" />
        <activity
            android:name="Ranking.FormDany"
            android:exported="false" />
        <activity
            android:name="Ranking.FormYaniv"
            android:exported="false"
            android:label="@string/title_activity_form_yaniv" />
        <activity
            android:name="Ranking.FormEduard"
            android:exported="false" />
        <activity
            android:name="Ranking.FormRoberto"
            android:exported="false" />
        <activity
            android:name="Ranking.FormDenis"
            android:exported="false" />
        <activity
            android:name="Ranking.FormFlavyus"
            android:exported="false" />
        <activity
            android:name="Ranking.FormRuben"
            android:exported="false" />
        <activity
            android:name="Ranking.Ranking"
            android:exported="false" />
        <activity
            android:name="Live.LiveRandom"
            android:exported="false" />
        <activity
            android:name="Home.History"
            android:exported="false" />
        <activity
            android:name="Team.RandomTeam"
            android:exported="false" />
        <activity
            android:name="Home.Contact"
            android:exported="false" />
    </application>

</manifest>